flows (2).json
[{"id":"6fd4ce44.36117","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96d72be9.bccc48","type":"debug","z":"6fd4ce44.36117","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1047.0000190734863,"y":282.0000009536743,"wires":[]},{"id":"d24ec328.1965c","type":"inject","z":"6fd4ce44.36117","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":-55,"y":220,"wires":[[]],"l":false},{"id":"f18a014f.56bee","type":"inject","z":"6fd4ce44.36117","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":65,"y":180,"wires":[["637073a8.232ecc"]],"l":false},{"id":"637073a8.232ecc","type":"function","z":"6fd4ce44.36117","name":"token","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":185,"y":160,"wires":[["869d5857.33ff48"]],"l":false},{"id":"869d5857.33ff48","type":"http request","z":"6fd4ce44.36117","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":341.87890625,"y":163.0703125,"wires":[["aaf09d7.c45946"]],"l":false},{"id":"a482c803.1d0048","type":"http request","z":"6fd4ce44.36117","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":589.88671875,"y":162.07421875,"wires":[["5ec1b89d.9e5098","96d72be9.bccc48"]],"l":false},{"id":"aaf09d7.c45946","type":"function","z":"6fd4ce44.36117","name":"prediction","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":431.87890625,"y":319.5546875,"wires":[["a482c803.1d0048"]],"l":false},{"id":"5ec1b89d.9e5098","type":"function","z":"6fd4ce44.36117","name":"parsing","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":727.875,"y":78.55859375,"wires":[["83066887.e836b8"]],"l":false},{"id":"83066887.e836b8","type":"openwhisk-trigger","z":"6fd4ce44.36117","name":"","namespace":"","trigger":"","params":[{"key":"","value":"","disabled":true}],"edit":false,"x":936.87890625,"y":452.85546875,"wires":[],"l":false}]